<div class="navbar bg-primary navbar-dark navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">GroupFlow</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/blog">
                    <i class="far fa-newspaper"></i>&nbsp;Blogs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Discussion" asp-action="Index"><i class="far fa-comments"></i>&nbsp;Discussions</a> <!--sor-->
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Project" asp-action="Index"><i class="fas fa-laptop-code"></i>&nbsp;Project</a>  <!--sor-->
            </li>

            @if (User.Identity.IsAuthenticated)
            {





                @if (User.IsInRole("Admin"))
                {

                    <li class="nav-item">
                        <a class="nav-link"><i class="fas fa-grip-lines-vertical"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Blog" asp-action="List">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Discussion" asp-action="List">Discussion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Project" asp-action="List">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Category" asp-action="List">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="UserList">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="RoleList">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Comment" asp-action="Index">Comments</a>
                    </li>

                }
                @if (User.IsInRole("User"))
                {

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Project" asp-action="UserProjectList">ProjectList</a>
                    </li>
                  <!--  <li class="nav-item">
                        <a class="nav-link" asp-controller="Discussion" asp-action="UserProjectList">DisList</a>
                    </li> 
                   -->

                }
            }

        </ul>

        <ul class="navbar-nav ml-auto">

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a asp-action="userprofile" asp-controller="admin" asp-route-name="@User.Identity.Name" class="nav-link">
                        @User.Identity.Name
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/account/logout" class="nav-link">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="/account/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/account/register" class="nav-link">Register</a>
                </li>

            }
        </ul>


    </div>
</div>