@model Category

@{
    ViewData["Title"] = "Create";
}
<div class="bg-danger" asp-validation-summary="All"></div>
<div class="container">
    <h2>Create Category</h2>
    <br />
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-controller="Category" asp-action="Create" method="post">

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </form>

</div>