@model List<Category>

<div class="list-group">
    <a asp-controller="Blog" asp-action="Index" class="list-group-item">

        <i class="far fa-newspaper"></i>&nbsp;Blogs
    </a>
    @foreach (var item in Model)
    {
        <a asp-controller="Blog" asp-action="Index" asp-route-id="@item.CategoryId"
           class="list-group-item   @(ViewBag.SelectedCategory==item.CategoryId.ToString()? "active":"") ">
            @item.Name

        </a>
    }
    <a asp-controller="Discussion" asp-action="Index" class="list-group-item">

        <i class="far fa-comments"></i>&nbsp;Discussions

    </a>
    <a asp-controller="Project" asp-action="Index" class="list-group-item">

        <i class="fas fa-laptop-code"></i>&nbsp;Project
    </a>
    



</div>